body {
	width:90%;
	max-width:1000px;
	min-width:600px
}
label   {
	font-weight: bold;
	line-height: normal;
	text-align: right;
	margin-right: 10px;
	position: relative;
	display: block;
	float: left;
	width: 200px;
}
input, select {
	margin: 0px;
	margin-bottom: 5px
}
div#orar {
	font-size:8pt
}
div#orar1 input,div#orar select{
	margin-bottom:0px
}
.hidden {
	display: none;
}
div.complex_div {
	display: none;
	margin:5px;
	margin-bottom:10px;
	padding-left:40px
}

