/*
	CSpay's IW Cascading Style Sheet file
*/

body {
	font-family: Trebuchet MS, Tahoma;
	width:90%;
	max-width:1200px;
	min-width:600px
}
a {
	cursor: pointer !important;
	color: red !important
}
label   {
	font-weight: bold;
	line-height: normal;
	text-align: right;
	margin-right: 10px;
	position: relative;
	display: block;
	float: left;
	width: 200px;
	cursor: pointer;
}
input, select {
	margin: 1px;
	border: 1px solid #444
}
div#orar {
	font-size:8pt
}
div#orar1 input,div#orar select{
	margin-bottom:0px
}
.hidden {
	display: none;
}
div.complex_div {
	display: none;
	margin:5px;
	margin-bottom:10px;
	padding-left:40px
}

