body {
	margin: 0px;
	padding: 0px;
	xbackground: #FFFFFF url(images/img01.gif) repeat-x;
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333333;
}

h2 {
	font-size: 1.82em;
	font-weight: normal;
	letter-spacing: -1px;
	color: #0066CC;
}

p, ol, ul {
	line-height: 1.67em;
}

a {
	color: #18BDF5;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}
.title {
	letter-spacing:0.2em;
}
/* Header */

#wrap_header	{
	height:45px;
	margin:0px auto;
	background:#dde9fe;
}


#header {
	width: 778px;
	height: 160px;
	margin: 0px auto;
}

/* Logo */

#logo {
	float: left;
	padding: 0px 0 0 0;
	font-size: 35px;
}
#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
	margin-top:20px;
}

#menu ul {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 12px;
	text-decoration: none;
	font-size: 1.2em;
	color: #18BDF5;
	border-bottom:1px solid #17b7ee;
}

#menu a:hover, .active a {
	border-bottom:1px solid #effafe;
}

#subheader {	
	height:30px;
	margin:0px auto;
	background:#f0f5fe;
}

#cont	{
	width:800px;
	margin: 0px auto;
	background:#f00;

}

#submenu {
	float:right;
}

#submenu ul {
	margin: 0px;
	padding: 5px 0px 0px 0px;
	list-style: none;
}

#submenu li {
	display: inline;
}

#submenu a {
	display: block;
	float: left;
	margin-left: 10px;
	text-transform:lowercase;
	text-decoration: none;
	font-size: 1.1em;
	color: #17b7ee;
	border-bottom:1px solid #ffffff;
}

#submenu a:hover, .subactive a {
	border-bottom:1px solid #17b7ee;
}

/* Page */

#wrapper {
	background: #ffffff;
	height:100%;
}

#page {
	width: 98%;
	min-width:800px;
	margin: 0px auto;
	padding: 0px;
	min-height:400px;
	background:#ffff00;
}

/* Content */

#content {
	width: 100%;
	height:100%;
	vertical-align:top;
}

/* Footer */

#wrapper2 {
	background: #f2f2f2;
}

#footer {
	width: 778px;
	margin: 0 auto;
	padding-top: 30px;
	color: #17b7ee;
	text-align:center;
	background:#f2f2f2;
}

#footer a {
	color: #17b7ee;
}
