body {
	margin: 0px;
	padding: 0px;
	/*background: #FFFFFF url(images/img01.gif) repeat-x;*/
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333333;
}

h2 {
	font-size: 1.82em;
	font-weight: normal;
	letter-spacing: -1px;
	color: #0066CC;
}

p, ol, ul {
	line-height: 1.67em;
}

a {
	color: #18BDF5;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}
.title {
	letter-spacing:0.2em;
}

#wrap_all	{
	height:100%;
}

/* Header */

#wrap_header	{
	width:100%;
	min-width:920px;
	height:45px;
	background:#dde9fe;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}


#content_header	{
	width:800px;
	color:#FF0000;
	margin:auto;
	background:#f00;

}
/* end header */

/* menu */
#menu {
	float: right;
	margin-top:20px;
}

#menu ul {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 12px;
	text-decoration: none;
	font-size: 1.2em;
	color: #18BDF5;

}

#menu a:hover, .active a{
	border-bottom:1px solid #ffffff;
}
.new	{
	color:#FF0000;
}
.new a{
	color:#FF9900;
}
.new a:hover	{
	color:#00FF00;
	font-weight:bold;
}
/*end menu */

/* submenu */

#subheader {	
	width:100%;
	min-width:920px;
	height:30px;	
	background:#f0f5fe;
}

#cont	{
	width:800px;
	margin: 0px auto;
	background:#f00;

}

#submenu {
	float:right;
}

#submenu ul {
	margin: 0px;
	padding: 5px 0px 0px 0px;
	list-style: none;
}

#submenu li {
	display: inline;
}

#submenu a {
	display: block;
	float: left;
	margin-left: 10px;
	text-transform:lowercase;
	text-decoration: none;
	font-size: 1.1em;
	color: #17b7ee;
}

#submenu a:hover, .subactive a {
	border-bottom:1px solid #17b7ee;
}


/* end submenu */


#wrapper2 {
	background: #f2f2f2;
}

#footer {
	width:100%;
	min-width:920px;
	height:30px;	
	padding-top: 30px;
	color: #17b7ee;
	text-align:center;
	background:#f2f2f2;
}

#footer a {
	color: #17b7ee;
}


#logo {
	float: left;
	padding: 0px 0 0 0;
	font-size: 35px;
}

/* Page */

#wrapper {
	background: #ffffff;
	height:100%;
}

#page {
	width: 98%;
	min-width:900px;
	margin:5px auto;
	padding: 0px;
	min-height:400px;
	background:#ffffff;
}

/* Content */

#content {
	width: 100%;
	height:100%;
	vertical-align:top;
}

.form1 {
	color:#000000;
	font-weight:bold;
	border:none;
	background:#f6f2d8;
}

.form2 {
	color:#CC6600;
	border:none;
	background:#ede7c2;
}

.selected	{
	color:#000000;
	font-weight:bold;
	border:none;
	background:#ffffff;
}